.live-demo {
  .drag-drop {
    border-radius: 3px;
    border: 1px dashed #ddd;
    background: #fff;
    padding: 32px;
    width: 580px;
    svg {
      margin: auto;
      display: block;
    }
    p {
      /* Text md/Medium */
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      margin: 0;
      margin-top: 0.5rem;
      color: #707070;
      text-align: center;
      b {
        color: #217cf5;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}
