@import "../../../components/layout.scss";

.btn {
  --bs-btn-padding-x: 16px;
  --bs-btn-padding-y: 0;
  // --bs-btn-font-family: ;
  --bs-btn-font-size: 13px;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 3px;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: none;
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  height: 36px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #217cf5;
  --bs-btn-border-color: #217cf5;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1a4ac8;
  --bs-btn-hover-border-color: #1a4ac8;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #217cf5;
  --bs-btn-active-border-color: #217cf5;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #bdd9ff;
  --bs-btn-disabled-border-color: #bdd9ff;
}

.btn-secondary {
  --bs-btn-color: #344054;
  --bs-btn-bg: #fff0;
  --bs-btn-border-color: #d8dee9;
  --bs-btn-hover-color: #344054;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #d8dee9;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: #344054;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #d8dee9;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #344054;
  --bs-btn-disabled-bg: #fff0;
  --bs-btn-disabled-border-color: #bdd9ff;
}

.btn-danger {
  --bs-btn-color: #b42318;
  --bs-btn-bg: #fff0;
  --bs-btn-border-color: #fff0;
  --bs-btn-hover-color: #b42318;
  --bs-btn-hover-bg: #fef3f2;
  --bs-btn-hover-border-color: #fef3f2;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b42318;
  --bs-btn-active-border-color: #b42318;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #b42318;
  --bs-btn-disabled-bg: #fff0;
  --bs-btn-disabled-border-color: #fff0;
}
.btn-light {
  --bs-btn-color: #344054;
  --bs-btn-bg: #fff0;
  --bs-btn-border-color: #fff0;
  --bs-btn-hover-color: #344054;
  --bs-btn-hover-bg: #f9fafb;
  --bs-btn-hover-border-color: #f9fafb;
  --bs-btn-focus-shadow-rgb: none;
  --bs-btn-active-color: #344054;
  --bs-btn-active-bg: #f9fafb;
  --bs-btn-active-border-color: #f9fafb;
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: #f9fafb;
  --bs-btn-disabled-bg: #fff0;
  --bs-btn-disabled-border-color: #fff0;
}

.btn-link {
  --bs-btn-font-weight: 500;
  --bs-btn-color: #217cf5;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #1a4ac8;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-color: #217cf5;
  --bs-btn-active-border-color: transparent;
  --bs-btn-disabled-color: #217cf5;
  --bs-btn-disabled-border-color: transparent;
  --bs-btn-box-shadow: none;
  --bs-btn-focus-shadow-rgb: none;
  text-decoration: none;
  height: fit-content;
  padding: 0;
  text-decoration: none;
}

.btn-outline-primary {
  --bs-btn-color: #217cf5;
  --bs-btn-border-color: #217cf5;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #217cf5;
  --bs-btn-hover-border-color: #217cf5;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #217cf5;
  --bs-btn-active-border-color: #217cf5;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #217cf5;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #217cf5;
  --bs-gradient: none;
}
