.date-picker {
  .dropdown {
    width: 284px;
    .dropdown-toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .dropdown-toggle::after {
      visibility: hidden;
    }
    .dropdown-item {
      padding: 0;
    }
    .dropdown-menu.show {
      padding: 0;
    }
    .dropdown-item:hover,
    .dropdown-item:focus {
      color: var(--bs-dropdown-link-hover-color);
      background-color: #2b303500;
    }
  }
}
