@import "./layout.scss";

body {
  font-family: "Inter", sans-serif;
  // background-color: #fafbfc !important;
}
a {
  text-decoration: none !important;
  font-size: 13px;
  font-weight: 500;
  color: $primary;
}
p {
  font-size: 13px;
}
.wrapper {
  margin-left: 220px;
  @media only screen and (min-width: 300px) and (max-width: 766px) {
    margin-left: 0px;
  }
}
// cus_top_nav
.cus_top_nav {
  background-color: $white;
  height: 64px;
  padding: 0px 24px 0px 56px;
  border-bottom: 1px solid $border;
  h4 {
    color: $dark_primary;
    font-size: 18px;
    margin: 0;
    font-weight: 400;
  }
  span {
    color: $text_light;
    font-size: 12px;
  }
  // top-navbar-brand
  .top-navbar-brand {
    display: none;
  }
  @media only screen and (min-width: 0px) and (max-width: 766px) {
    .container-fluid {
      padding: inherit 24px;
    }
    .top-navbar-brand {
      display: block;
    }
    h4 {
      display: none;
    }
    .navbar-text {
      color: $white;
      opacity: 0.8;
    }
    background-color: $dark_primary;
    align-items: center;
  }
}

// sidebar
.sidebar {
  width: 220px;
  background: #1a4ac8;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  //   display: flex;
  //   justify-content: space-between;
  //   flex-wrap: wrap;
  .navbar {
    padding: 0;
    background-color: #1a4ac8 !important;
    border: none;
  }
  .navbar-expand-md {
    flex-wrap: wrap;
    justify-content: normal;
    .navbar-brand {
      height: 64px;
      padding: 0 24px;
      display: flex;
      align-items: center;
    }
    .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
      flex-wrap: wrap;
      padding: 0px 0px 0px 24px;
      margin-top: 32px;
      overflow: scroll;
      max-height: 86vh;
      min-height: fit-content;
      h6 {
        color: $light_primary;
        margin-bottom: 16px;
      }
    }
    .navbar-nav {
      flex-direction: column;
      width: 100%;
      .nav-link {
        padding: 12px;
        font-size: 14px;
        border-radius: 3px 0px 0px 3px;
        color: $text_white;
        font-weight: 400;
        &.active {
          background: $white;
          color: $text;
          font-weight: 500;
        }
      }
    }
  }
  //   sidebar_element
  .sidebar_element {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .submenu {
    margin: 0 1rem;
    padding: 0;
    margin-right: 0;
    .nav-item {
      list-style: none;
      .nav-link {
        padding: 8px 12px;
        font-size: 13px;
        border-radius: 3px;
        &.active {
          background: white;
          color: #1a1a1a;
          font-weight: 500;
          border-radius: 3px 0px 0px 3px;
        }
      }
    }
  }

  //

  .accordion {
    --bs-accordion-color: #fff;
    --bs-accordion-bg: var(--bs-body-bg);
    --bs-accordion-transition: color 0.15s ease-in-out,
      background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: none;
    --bs-accordion-border-width: 0;
    --bs-accordion-border-radius: 0;
    --bs-accordion-inner-border-radius: 0;
    background: #fff0;
    border: none;
    --bs-accordion-btn-icon: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

    .accordion-item {
      border-color: transparent;
      background-color: #fff0;
      --bs-accordion-border-color .accordion-header {
        background-color: #fff0;
        border: none;
        border-color: transparent;
      }
    }
    .accordion-body {
      padding: 0;
    }
  }
  .accordion-button {
    border: none;
    padding: 12px;
    font-size: 14px;
    border-radius: 3px 0px 0px 3px;
    color: white;
    font-weight: 400;
    background-color: #fff0;
    border: none;
    border-color: transparent;
    &:focus {
      z-index: 3;
      border-color: transparent;
      outline: 0;
      box-shadow: none;
    }
  }

  .accordion-button::after {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-left: auto;
    content: "";
    background-image: var(--bs-accordion-btn-icon);
    background-repeat: no-repeat;
    background-size: 16px;
    transition: var(--bs-accordion-btn-icon-transition);
  }

  .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: transparent;
    box-shadow: none;
  }
  @media only screen and (min-width: 0px) and (max-width: 766px) {
    position: fixed;
    z-index: 10000;
    display: none;
    top: 64px;
    .navbar-brand {
      display: none !important;
    }
  }
}

// footer
footer {
  text-align: left;
  font-size: 14px;
  color: $text;
  border-top: 1px solid #e6e9ef;
  padding: 16px 56px;
}

// page_header //
.page_header {
  border-bottom: 1px solid #e6e9ef;
  background: #e6e9ef1d;
  padding: 40px 56px;
  .title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    h1 {
      color: $text;
    }
    .btn-sec {
      display: flex;
      align-items: center;
      button + button {
        margin-left: 1rem;
      }
      a + a {
        margin-left: 1rem;
      }
    }
  }

  p {
    color: $text_light;
    margin: 0;
  }
  @media only screen and (min-width: 0px) and (max-width: 766px) {
    padding: 32px;
  }
}

// content //
.content {
  padding: 48px 24px 48px 56px;

  .gatsby-image-wrapper-constrained {
    display: block;
    vertical-align: top;
    margin-bottom: 1rem;
  }
  @media only screen and (min-width: 0px) and (max-width: 766px) {
    padding: 32px;
  }
}
// list
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 14px;
}
ul {
  li {
    color: $text;
    margin-bottom: 8px;
  }
}

// scrollspy
.scrollspy {
  padding: 0;
  list-style: none;
  position: sticky;
  top: 104px;
  margin-left: 2rem;
  li {
    border-left: 3px solid $border;
    padding: 8px 12px;
    margin: 0;

    a {
      color: $text;
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
    }
    &.is-current {
      color: $dark_primary;
      border-left: 3px solid $primary;
      a {
        color: $primary;
        font-weight: 500;
      }
    }
  }
}
.scrollspy_title {
  position: sticky;
  top: 80px;
  border: none;
  color: $text;
  font-size: 12px;
  font-weight: 600;
  padding: 0;
  margin-bottom: 16px;
  margin-left: 2rem;
}

// live-demo
.live-demo {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  padding: 2rem;
  border: 1px $border solid;
  border-radius: 6px;
}

// img
.placeholder_img {
  width: 100%;
}

// theory

.theory {
  margin: 0;
  padding: 1rem;
  li {
    margin-bottom: 1rem;
    strong {
      font-weight: 00;
    }
  }
}

// assets-download

.assets-download {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  .download-options {
    display: flex;
    align-items: center;
    position: absolute;
    right: 24px;
    bottom: 24px;
    opacity: 0;
    a {
      padding: 0;
      margin: 0;
      line-height: initial;
      color: $text_light;
    }
  }
  &:hover {
    box-shadow: 2px 3px 6px #00000017;

    .download-options {
      opacity: 1;
    }
  }
}

// guide-do

.guide-do {
  background: #ecfdf3;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  h5 {
    color: #027a48;
  }
  ol {
    li {
      margin-bottom: 0.5rem;
    }
  }
}
.guide-dont {
  background: #fef3f2;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  h5 {
    color: #b42318;
  }
  ol {
    li {
      margin-bottom: 0.5rem;
    }
  }
}
