.live-demo {
  .user-picker {
    display: flex;
    align-items: center;
    .use-tag {
      display: flex;
      align-items: center;
      border-radius: 24px;
      background: #f2f4f7;
      padding: 6px;
      margin-right: 8px;
      .avatar-md {
        width: 16px;
        height: 16px;
        display: flex;
      }
      span {
        margin-right: 8px;
        color: #1a1a1a;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
      }
      svg {
        margin-right: 4px;
        cursor: pointer;
      }
    }

    .count {
      .avatar-md {
        width: 28px;
        height: 28px;
        display: flex;
        border: 1px solid #fff;
      }
    }
    .add-btn {
      display: flex;
      width: 32px;
      height: 32px;
      padding: 4px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 16px;
      border: 1px solid #d8dee9;
      border-style: dashed;
      cursor: pointer;

      .dropdown {
        width: 284px;
        .dropdown-toggle {
          display: flex;
          align-items: center;
          justify-content: space-between;

          border-radius: 43px;
          border: 1px solid #d8dee9;
          background: #fff;
          border-style: dashed;
          width: 32px;
          height: 32px;
          padding: 7px;
        }
        .dropdown-toggle::after {
          visibility: hidden;
        }
        .dropdown-item {
          padding: 0;
          img {
            min-width: 312px;
            max-width: 100%;
          }
        }
        .dropdown-menu.show {
          padding: 0;
        }
        .dropdown-item:hover,
        .dropdown-item:focus {
          color: var(--bs-dropdown-link-hover-color);
          background-color: #2b303500;
        }
      }
    }
  }
}
